<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $styles := resources.Get "css/styles.css" | postCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  {{ if .Title }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Site.Title }}</title>
  {{ end }}
</head>

<body>
  <main>
  {{ block "main" . }}{{ end }}
  </main>
</body>

</html>