<footer class="bg-blue-green text-cultured font-source-sans-pro">
  <div class="max-w-screen-2xl mx-auto px-5 py-10">
    <div class="grid gap-12 grid-cols-3 items-center">
      <div>
        <img class="w-64 mx-auto" src='{{ "images/gob-cdmx-logo-footer.png" | absURL }}' alt="">
      </div>
      <div class="font-bold">
        <p>Diseñado y operado por la Agencia Digital de Innovación Pública</p>
      </div>
      <div class="space-y-1">
        <p class="font-bold">Atención ciudadana</p>
        <p>Dudas e información a:</p>
        <ul>
          <li>
            <a href="mailto:infoadip@cdmx.gob.mx" class="flex items-center space-x-2">
              <img src='{{ "images/envelope.svg" | absURL }}' alt="">
              <span>infoadip@cdmx.gob.mx</span>
            </a>
          </li>
          <li class="flex items-center space-x-2">
            <img src='{{ "images/phone.svg" | absURL }}' alt="">
            <span>55 3090 0500 ó 55 5457 5110</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-10"><img src='{{ "images/footer-pattern.png" | absURL }}' alt=""></div>
  </div>
</footer>