<nav class="border-b-2 border-big-dip-oruby">
  <div class="max-w-screen-2xl mx-auto px-5">
    <div class="flex items-center justify-between">
      <div>
        <a href="{{ .Site.BaseURL }}">
          <img class="w-72" src='{{ "images/gob-cdmx-logo.png" | absURL }}' alt="">
        </a>
      </div>
      <ul class="font-gotham text-sm flex items-center space-x-6">
        <li><a href="" class="underline text-big-dip-oruby">Explora temas y variables</a></li>
        <li><a href="">Consulta el catálogo de datasets</a></li>
        <li><a href="">Sube tus datos</a></li>
      </ul>
    </div>
  </div>
</nav>
<ul class="flex items-center justify-center space-x-8 text-sm text-nickel font-source-sans-pro font-semibold py-6">
  <li><a href="">Inicio</a></li>
  <li><a href="">Conjunto de datos</a></li>
  <li><a href="" class="underline text-big-dip-oruby">Visor CDMX</a></li>
  <li><a href="">Tutoriales</a></li>
</ul>