{{ define "main" }}
<div class="bg-soft-white">
  <div class="max-w-screen-2xl mx-auto px-5 py-10 text-center">
    <h1 class="text-field-drab font-gotham text-2xl">Demo del Nuevo Portal de Datos Abiertos</h1>
    <h2 class="text-big-dip-oruby font-gotham text-3xl">Víctimas en carpetas de investigación FGJ</h2>
    <p class="text-pullman-brown font-bold text-sm mt-5">Rango de tiempo abarcado: enero/2004 - diciembre/2020</p>
  </div>
</div>
<div class="max-w-screen-2xl mx-auto px-5 py-10 text-center">
  <div class="aspect-w-16 aspect-h-9">
    <iframe src="https://datasketch.shinyapps.io/cdmxApp/" frameborder="0"></iframe>
  </div>
</div>
{{ end }}